@model EduPortal.Models.Material

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Material</h4>
    <hr />
    @*<dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Course)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Course.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PictureUrl)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.PictureUrl)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Text)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Text)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Rating)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>*@
</div>
@*<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@


<img src="@Model.PictureUrl" class="w-100 mb-5" />
<div class="card">
    <div class="card-body" style="background-color: azure;">
        <div class="row justify-content-around">
            <h2>@Model.Title</h2>
            <h4>@Model.Date.ToString("MMMM") @Model.Date.Day, @Model.Date.Year</h4>
        </div>
        <div class="p-5">
            <h4>@Model.Text</h4>
        </div>
    </div>
</div>